---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name, email } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row">
    <!-- <p class="text-neutral w-auto text-base md:pr-5"> -->
    <!--   {description.split(".").slice(0, -2).join(".\n")} -->
    <!--   <span class="text-white">{description.split(".").slice(-2)}.</span> -->
    <!-- </p> -->
    <span class="text-neutral w-auto text-base md:pr-5">
        {description.slice(0, -1).map((paragraph, index) => (
        <>
        <span key={index}>{paragraph}</span>
          <br />
          <br />
        </>
      ))}
      <span class="text-white">{description.slice(-1)}.</span>
    </span>
    <div
      class="w-64 h-80 bg-white p-4 flex-shrink-0 rotate-[5deg] md:rotate-[7deg]"
    >
      <Image
        class="object-cover"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
    </div>
  </div>
  <br />
  <br />
  <a
    class="text-sm py-5 px-8 text-white inline-block font-bold leading-5 bg-primary rounded-full"
    ihref={`mailto:${email}`}>Get in Touch</a
  >
</Section>
