---
import type { ServiceProps } from "@types";
import Section from "./Section.astro";

interface Props {
  services: ServiceProps[];
}

const { services } = Astro.props;
---

<Section text="Services" href="services">
  <div class="grid grid-cols-1 gap-6">
    {
      services.map(({ title, description, icon, technologies }) => (
        <article class="rounded-xl border border-neutral/20 bg-black mb-15 transition-transform duration-300 hover:scale-[1.2] hover:z-10">
          <div class="relative z-[1] bg-[#1c232d]/85 bg-difu before:content-[''] before:rounded-2xl before:absolute before:z-[-1] before:opacity-[5%] before:inset-0 before:bg-[url(/raja.png)] before:bg-repeat before:bg-[length:128px] rounded-2xl p-6">
            <div class="flex items-start gap-4">
              <div class="block shrink-0">
                <div class="w-14 h-14 flex items-center justify-center bg-primary/10 rounded-lg">
                  <img src={icon} alt={title} class="w-8 h-8" />
                </div>
              </div>

              <div class="flex-1">
                <h3 class="font-medium text-2xl font-serif text-primary mb-2">
                  {title}
                </h3>

                <p class="text-neutral">{description}</p>

                {technologies && technologies.length > 0 && (
                  <div class="mt-4 flex flex-wrap gap-2">
                    {technologies.map((tech) => (
                      <span class="text-xs px-3 py-1.5 bg-white/10 rounded-full text-white">
                        {tech}
                      </span>
                    ))}
                  </div>
                )}
              </div>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</Section>
